*.class
*.idea
*.aux
*.pdf
*.log
*.synctex.gz
*.toc
*.DS_Store
*.idx
Enviar/
Enviar/*
Compilador/Fun.java
Compilador/FunConstants.java
Compilador/FunTokenManager.java
Compilador/ParseException.java
Compilador/SimpleCharStream.java
Compilador/Token.java
Compilador/TokenMgrError.java
Compilador/test.txt
Compilador/test_aceitos.txt
